.body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    border-radius: 25px;
    background: rgb(156, 163, 231);
    display: flex;
    padding: 20px;
    min-height: 100vh;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }